<%= turbo_frame_tag cart_item, class: "w-full" do %>
  <div class="relative w-full py-3 border-b border-gray-100">
    <!-- Delete Button -->
    <%= button_to cart_item_path(cart_item), method: :delete, class: "absolute top-3 right-0" do %>
      <%= image_tag("delete-icon.png", alt: "Delete", class: "h-5 w-5 cursor-pointer opacity-90 hover:opacity-100 transition-opacity") %>
    <% end %>

    <div class="grid grid-cols-[100px_1fr_1fr_100px] items-center gap-6">
      <!-- Product Image -->
      <%= image_tag("cart-empty.png", alt: "Empty cart", class: "h-26 w-auto") %>

      <!-- Product Name -->
      <div class="text-sm text-gray-900">
        <%= cart_item.product.name %>
      </div>

      <!-- Quantity Input -->
      <%= simple_form_for cart_item, method: :patch, html: { class: "flex items-center", data: { turbo: true, controller: 'quantity' } } do |f| %>
        <div class="flex items-center bg-gray-100 rounded-lg">
          <button type="button" 
            data-action="click->quantity#decrement"
            class="pl-3 pr-2 font-semibold text-gray-700 hover:bg-gray-100 rounded-l-lg cursor-pointer">
            −
          </button>

          <%= f.input :quantity,
            label: false,
            input_html: {
              min: 1,
              class: "w-8 bg-transparent text-center font-semibold focus:outline-none appearance-none",
              data: { quantity_target: "input" },
              onchange: "this.form.requestSubmit();"
            }
          %>

          <button type="button"
            data-action="click->quantity#increment"
            class="pl-3 pr-2 py-1 font-semibold text-gray-700 hover:bg-gray-100 rounded-r-lg cursor-pointer">
            +
          </button>
        </div>
      <% end %>


      <!-- Price -->
      <div class="font-semibold text-gray-900 text-right">
        $<%= cart_item.display_price %>
      </div>
    </div>
  </div>
<% end %>